<div class="container">
  <header>
    <div class="flex">
      <mat-icon class="app-icon" aria-hidden="false">
        text_snippet
      </mat-icon>
      <div class="bar-container">
        <div class="flex">
          <input #input value="Intern Summer Project" class="file-name" type="text" />
          <mat-icon class="icon">star_border</mat-icon>
          <mat-icon class="icon">cloud_done</mat-icon>
        </div>
        <app-menu-bar
          (italic)="italic($event)"
          (bold)="bold($event)"
          (fontSize)="size($event)"
          (onNewDocument)="onNewDocument()"
        ></app-menu-bar>
      </div>
    </div>
  </header>

  <main>
    <textarea #textarea [class]="getTextAreaClasses()">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quaerat impedit voluptates perferendis odio quibusdam, dolor iste magnam eveniet maxime facere repudiandae quo modi accusamus, neque, quidem maiores? Cupiditate, deserunt.
    </textarea>
  </main>
</div>
