.container {
  padding: 20px;
}

.file-name {
  align-self: flex-start;
  box-sizing: border-box;
  appearance: none;
  box-shadow: none;
  border: none;

  font-size: 24px;
  font-family: sans-serif;
  height: 36px;

  border: solid 1px #f1f1f1;

  &:hover {
    border: solid 1px #dedede;
  }

  display: inline-flex;
  flex-direction: row;
}

.icon {
  margin-left: 10px;
  cursor: pointer;
  padding: 6px;

  &:hover {
    background-color: #dedede;
    border-radius: 4px;
  }
}

.app-icon {
  font-size: 50px;
  margin-right: 20px;
  color: #433aff;
}

.bar-container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

textarea {
  width: 100%;
  height: 85vh;

  &.bold {
    font-weight: bolder;
  }
  &.italic {
    font-style: italic;
  }

  &.normal {
    font-size: 20px;
  }
  &.small {
    font-size: 12px;
  }
  &.large {
    font-size: 40px;
  }

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: none;
  outline: none;
  resize: none;
}

header {
  padding-bottom: 15px;
  border-bottom: solid 10px #dbdbdb;
}

main {
  padding-top: 100px;
  user-select: text;
}

.flex {
  display: flex;
}

.context-menu {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 280px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  hr {
    width: 100%;
    color: rgba(0, 0, 0, 0.12);
  }
  padding: 6px 0;
}

.menu-item {
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  &:hover {
    background-color: #d0d0d0;
  }

  &[role='menuitemradio'][aria-checked='true'] {
    background-color: #e1e1e1;
    &:active {
      background-color: #aaa;
    }
  }
  &[role='menuitemcheckbox'][aria-checked='true'] {
    background-color: #e1e1e1;
    &:active {
      background-color: #aaa;
    }
  }
  &:active {
    background-color: #aaa;
  }

  display: flex;
  align-items: center;
  flex-direction: row;
}
